.footer {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px 70px;
  font-size: 13px;
  color: #202020;
}

.footer-inner {
  display: grid;
  grid-template-columns: 300px auto auto; 
  align-items: start;                      
  justify-content: space-between;          /* растягиваем по всей ширине */
  max-width: 1100px;
  margin: 0 auto;
}

.footer-column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /*align-items: center; */  
}

.social-icon {
  display: flex;
  gap: 8px;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #202020;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #3E845C;
  text-decoration: underline;
}

.footer-support .support-link,
.footer-support .support-phone {
  color: #2c3e50;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-support .support-link:hover,
.footer-support .support-phone:hover {
  color: #3E845C;
  text-decoration: underline;
}


/*медиа для поисковой строки*/
@media (max-width: 1140px) {
.footer-inner {
 max-width: 900px;
}
}

@media (max-width: 860px) {
.footer {
  padding: 20px 60px;
  font-size: 12px;
}

.footer-inner {
  grid-template-columns: 280px auto auto; 
}

.footer-column {
  gap: 11px; 
}
}

@media (max-width: 730px) {
  .footer {
  padding: 15px 20px;
}

.footer-inner {
  grid-template-columns: 230px auto auto; 
}
.footer-column {
  gap: 7px; 
}
  .logo-content svg {
    width: 28px;  
    height: 30px;
  }

  .logo-text {
    font-size: 16px;
  }

  .logo-content {
    gap: 6px; 
  }
}


@media (max-width: 480px) {
  .footer {
    padding: 15px 30px;   
  }

  .footer-inner {
    display: grid;
    grid-template-columns: 1fr; /* одна колонка */
    gap: 20px;                  /* расстояние между блоками */
  }

  .footer-column {
    align-items: start;
    gap: 10px;
    padding-bottom: 15px;          /* отступ перед линией */
    border-bottom: 1px solid #ccc; /* серая линия */
  }

  .footer-column:last-child {
    border-bottom: none;           /* убираем линию у последнего блока */
    padding-bottom: 0;
  }
}
