.footer {
  background-color: #f5f5f5;
  padding: 40px 20px;
  font-size: 14px;
  color: #202020;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px; /* равномерные отступы внутри */
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #202020;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #2D4B49;
}

.footer-about .social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.footer-support .support-link,
.footer-support .support-phone {
  color: #2c3e50;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-support .support-link:hover,
.footer-support .support-phone:hover {
  color: #3E845C;
  text-decoration: underline;
}


.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}


